*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cream: #fff6e9;
    --dark-green: #1c352d;
    --button-orange: #ffbd76;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-green);
    padding: 24px 32px;
}
.header img{
    margin-left: 280px;
}

.header-links {
    display: flex;
    list-style: none;
    gap: 40px;
    margin-right: 280px;
}

.header-links a{
    text-decoration:none;
    color: var(--cream);
    font-weight: bold;
    font-size: 20px;
    
}

.main-1{
    display: flex;
    padding-bottom: 100px;
    background-color: #406d61 ;
    
}

.main-1-text{
    margin: 100px 0 0 300px;
    color: var(--cream);

}

.main-1-text h1{
    font-size: 40px;
    padding-bottom: 5px;    
}

.main-1-text p {
    padding-bottom: 10px;
}

.main-1-text button{
    background-color: var(--button-orange);
    border: 0px;
    padding: 10px 20px;
    border-radius: 10px;
}

.imgbobr img{
    height: 200px;
    width: 500px;
    margin: 100px 300px 0 50px;
}

.hero-section{
    background-color: #063f47;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 120px;
}

.hero-section img{
    width: 300px;
    height: 300px;
    border: 5px solid aquamarine;
    border-radius: 10px;
    
}

.hero-texts{
    max-width: 300px;
    color: #fdfbed;
    font-family: Arial, Helvetica, sans-serif;
    
}
.hero-texts p {
    margin-top: 5px;
}

.quote{
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 600px;
    padding: 100px;
    background-color: var(--cream);
}
.quote-text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: large;
    width: 400px;
}

.author{
    margin-top: 5px;
}
.sign-up-form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;
}

.sign-up-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 150px;
    background-color: #0a171D;
    border-radius: 15px;
    gap: 300px;
}
.sign-up-text h1{
    color: var(--cream);
    font-size: 20px;
}

.sign-up-text p {
    color: var(--cream);
    font-size: 12px;
}
.sign-up-button{
    border: 2px solid var(--cream);
    border-radius: 12px;
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffbd76;
}
.sign-up-button p{
    color: #000000;
}

footer{
    background-color: #193497;
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container  p {
    color: var(--cream);
}